{{>header}}

<div class="container">
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-12" style="text-align: center; font-weight: bold; font-size: 17px;">
            About Us
        </div>
    </div>

</div>

{{>footer}}